body{
	font-family: verdana;
	background-color: #E4F0F8;
	margin: 0;
	text-align: center;
	  background-image: url("background.jpg");

    /* Set a specific height */
    height: 50%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

header{
	width: 100%;
	position: absolute;
	top: 80px;
	/*background-color: #173753;*/
	/*color: white;*/
}

.main{
	/*position: fixed;*/
	width: 100%;
	background-color: #173753;
	color: white;
	margin-top: 180px;
	padding: 1%;
	padding-top: 100px;
}

#me{
	width: 200px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
 	display: block;
	border-radius: 50%;
	<!-- box-shadow: 0px 0px 20px white; -->
}
